<%include partials/header%>
<!DOCTYPE html>
<html>
    <head>
        <title>Safe Path Recommender</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="safePath.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/mladenplavsic/bootstrap-navbar-sidebar/3bd282bd/docs/navbar-fixed-left.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/mladenplavsic/bootstrap-navbar-sidebar/3bd282bd/docs/docs.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <style>
                body{
            padding-top: 70px;
            background: url(http://holeinthedonut.smugmug.com/DailyPhotos/HITD-Daily-Photos/i-Wmw432C/0/O/Illinois-Chicago-downtown-street-scene.jpg);
            background-size: cover;
            background-position: center;
        }

        .jumbotron{
            color: #2c3e50;
            background-size: cover;
            height: 20%;
            padding: 0.5em 0.6em;}
            h1{
                font-size: 2em;
            }
            p {
                font-size: 1.2em;}
                .btn {
                    padding: 0.5em;
                }



        .navbar-inverse{
            background: #2c3e50;
        }

        .navbar-inverse .navbar-nav>li>a{
            color: white;}

        .navbar-inverse .navbar-brand{
            color:white;
        }

        .row {
            font-family: Raleway;
            color: white;
        }
        #creator{
            text-align: center;

        }
        #map{
            text-align: center;
        }

        #stats{
            text-align: center;
        }

        #credentials{
            text-align: center;
        }

        footer {
            position: fixed;
            height: 30%;
            bottom: 0;
            width: 85%;
        }

        .fab{
            font-size: 100px;
        }

        .search{
            margin-top: 20px;
        }
        </style>
    </head>

    <body id="landing" class="container">
        

    <div id="landing-header">

     
    

    <h1 style="text-align: center; color: white; font-size: 150px; font-family: georgia; margin-top: 100px">Safe Path Recommender </h1>

		<h3 style="text-align: center; color: white; font-size: 50px; font-family: georgia; margin-top: 100px; margin-bottom: 20px"> Because you must look before you leave !  </h3>
<center> 
<a href="/login" class="ui secondary button large" style="text-align: center;">Login</a>
                        <a href="/signup" class="ui secondary button large" style="text-align: center">Sign Up</a>
</center>
</div>
                        
 		
    
<footer class="fixed-bottom">
    	<div class="container">
    		<div class="row">
				<div class="col-md-4" >
		   			 <h3>About us</h3>
		    		<p>
		        	Junior Year developers trying to visualize data distribution concepts and its usage in crime sensing applications.
		    		</p>
				</div>
		
				<div class="col-md-4">
		   			 <h3> Our location </h3>
		   			<address>
		   			Jaypee Institute of Information Technology
					A-10, Sector 62
					Noida-201307
		   			</address>
				</div>
				<div class="col-md-4" >
		    		<h3>Contact Us</h3>
		    		<ul>
		        	<li>Phone : (+91)9873634151 </li>
		        	<li>E-mail : ishankagarwal62@gmail.com </li>
		    		</ul>
		    
				</div>
    		</div>
    		<div class="row">
    			<div class="col-md-4"> 
					<i class="fab fa-facebook-square fa-2x"></i>
				</div>
				<div class="col-md-4"> 
					<i class="fab fa-twitter-square fa-2x"></i>
				</div>
				<div class="col-md-4"> 
					<i class="fab fa-google-plus-square fa-2x"></i>
				</div>
    		</div>
    	</div>
    
</footer>

</body>
</html>